<html>
 <head> 
  <meta name="referrer" content="origin" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
  <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="news.css") }} /> 
  <link rel="shortcut icon" href="favicon.ico" /> 
  <script type="text/javascript">
    function hide(id) {
      var el = document.getElementById(id);
      if (el) { el.style.visibility = 'hidden'; }
    }
    function vote(node) {
      var v = node.id.split(/_/);
      var item = v[1];
      hide('up_'   + item);
      hide('down_' + item);
      var ping = new Image();
      ping.src = node.href;
      return false;
    }
  </script>

  <title>
  {%block title%} {%endblock title%} Hacker News</title>
  {% block extstyle %}{% endblock extstyle %}

 </head>
 <body>
  <center>
   <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef"> 
    <tbody>


     <tr>
      <td bgcolor="#ff6600">
       <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
        <tbody>
         <tr>
          <td style="width:18px;padding-right:4px"><a href="http://www.ycombinator.com"><img src="../static/y18.gif" width="18" height="18" style="border:1px #ffffff solid;" /></a></td> 
          <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="brandname"><a href="/news">黑单</a></b> <a href="/newest">最新</a> |  <a href="/submit">提交</a> </span></td>
          <td style="text-align:right;padding-right:4px;"><span class="pagetop"> 
          {% if session['user']%}
            <a href="/user/{{session['user']}}">{{session["user"]}}</a> | <a href="/logout">退出</a> 
          {%else%}
            <a href="login">登录</a> 
          {% endif %}
          </span></td> 
         </tr>
        </tbody>
       </table></td>
     </tr> 

     <tr style="height:10px"></tr>

     <tr>
      <td>
        {% block main_body %}{% endblock main_body %}
     </td>
     </tr> 



     <tr>
      <td>
      <img src="../static/s.gif" height="10" width="0" />
       <table width="100%" cellspacing="0" cellpadding="1">
        <tbody>
         <tr>
          <td bgcolor="#ff6600"></td>
         </tr>
        </tbody>
       </table><br />
       <center>
        <span class="yclinks"><a href="newsguidelines.html">Guidelines</a> | <a href="newsfaq.html">FAQ</a> | <a href="mailto:hn@ycombinator.com">Support</a> | <a href="security.html">Security</a> | <a href="lists">Lists</a> | <a href="bookmarklet.html">Bookmarklet</a>  | <a href="mailto:hn@ycombinator.com">Contact</a></span>
        <br />
        <br />
        <form method="get" action="//hn.algolia.com/">
         Search: 
         <input type="text" name="q" value="" size="17" />
        </form> 
       </center>
       </td>
     </tr> 



    </tbody>
   </table>
  </center> 
 </body>
</html>