 {% extends "base.html" %}
 
 {%block title%} 
   Edit 
 {%endblock title%}

{% block main_body %}  

       <table border="0"> 
        <tbody>
         <tr class="athing"> 
          <td align="right" valign="top" class="title"><span class="rank"></span></td> 
          <td valign="top" class="votelinks">
           <center>
            <font color="#ff6600">*</font>
            <br /> 
            <img src="../static/s.gif" height="1" width="14" />
           </center></td>
          <td class="title"><span class="deadmark"></span><a href="/ban/{{ban.get('_id')}}">{{ ban.get("title", "no title") }}</a></td>
         </tr>
         <tr>
          <td colspan="2"></td>
          <td class="subtext"> <span class="score" id="score_10630618">1 point</span> by <a href="/user/{{ban.get('author')}}"><font color="#3c963c">{{ban.get('author')}}</font></a> 
          <a href="/ban/{{ban.get('ban_id')}}">{{ban.get("created_at")}}前</a>
           | <a href="/edit/{{ban.get('ban_id')}}">edit</a>
           | <a href="/delete-confirm/{{ban.get('ban_id')}}?goto=edit">delete</a> </td>
         </tr> 
         <tr style="height:2px"></tr>
         <tr>
          <td colspan="2"></td>
          <td>{{ban.get("text")}}</td>
         </tr> 
        </tbody>
       </table><br />
       <form class="itemform" method="post" action="/xedit">
        <input type="hidden" name="ban_id" value="{{ban.get('ban_id')}}" />
        <input type="hidden" name="hmac" value="83ce5852b74c8f1d5fe17dbc7f0f5ead4b5d2ceb" />
        <table border="0"> 
         <tbody>
          <tr>
           <td valign="top">title:</td>
           <td><input type="text" name="title" value="{{ban.get('title')}}" size="60" /></td>
          </tr> 
          <tr>
           <td valign="top">url:</td>
           <td><input type="text" name="url" value="{{ban.get('url')}}" size="60" /> </td>
          </tr> 
          <tr>
           <td valign="top">text:</td>
           <td><textarea cols="60" rows="5" wrap="virtual" name="text">{{ban.get('text')}}</textarea> <font size="-2"><a href="formatdoc" tabindex="-1"><font color="#afafaf">help</font></a></font></td>
          </tr> 
         </tbody>
        </table>
        <br />
        <input type="submit" value="update" />
       </form> 
{% endblock main_body %}