<html>
<head>
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="yc.css") }}>
<title>黑单 FAQ</title>
 {% extends "ga.html" %}
</head>

<body bgcolor=#ffffff>
<center>
<br><br>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>
<a href="http://heidan.xyz"><img src={{ url_for("static", filename="bn500.gif") }} border=0 width=500></a>
<br><br>
<b>黑单 FAQ</b>
<br><br>

<b>这里有提交和评论的规则么?</b>
<p>
请看这里 <a href="/guidelines">黑单使用说明</a>
<p>
<b>排名是如何计算?</b>
<p>
在页面上，每次投票后，都会根据票数、内容提交时间、投票时间分布情况来计算排名。
评论暂时没有排名。投票和排名功能将会在将来开放。当然若是获得反对票也是对排名有影响的。
<p>
黑单<a href="/newest">最新</a>内容可以点击访问，即是根据排名计算后的顺序.
<p>
<b>用户贡献值是如何计算?</b>
<p>
根据用户投票数量、评论数量和提交内容的获得票数综合计算得出贡献值，当然若是获得反对票也是对贡献值有影响的。
<p>
<b>如何提交问题?</b>
<p>
点击上方导航栏'submit'或'提交'进入提交页面，提交问题即可。
<p>
<b>如何添加链接?</b>
<p>
首先标题中不能添加链接。正文和评论允许粘贴链接，但是不能保证正确识别。
<p>
<b>能重复提交么?</b>
<p>
最好不要重复提交，如果提交内容需要修改，那么你直接去修改就好。
<p>

<p>
<b>能拉票么?</b>
<p>
不可以。这样会影响排名系统，亦会影响黑单内容质量。
<p>
投票会被限制每人对每个黑单只能投一次票，并且同一台机器不能在短时间内再次投票。
<p>
<b>能否发布广告?</b>
<p>
请不要这么干，发广告会被踩沉到最低的，可能永远都不会有机会被浏览。
<p>

<br>
<br>
<br>
<p>
未尽事宜，可以通过反馈发送给我们，我们一定会及时处理。
<p>


<br><br><br>
<table width=100% bgcolor=#ff6600 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>

<br><br>
</span>
</td></tr></table>
</center>
</body>

