<html>
<head>
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="yc.css") }} >
<title>黑单 使用说明</title>
</head>

<body bgcolor=#ffffff>
<center>
<br><br>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>
<a href="http://www.ycombinator.com"><img src={{ url_for("static", filename="bn500.gif") }}  border=0 width=500></a>
<br><br>
<b>黑单的使用说明</b>
<br><br>
<b>何谓提交</b>
<p>
当你有要分享的或发现相关内容想告诉大家的，可以点击'submit'或'提交'来提交内容（标题，文本，URL）。要注意其中的URL，若为转发内容则一定要填写URL，原创内容则无需填写，否则可能会与你意愿不符，这意味着可能有人无法正确的浏览由你分享的内容。
<p>
需要提前说的是，不管是提交任何信息（包括评论），最好不要含有敏感话题以及与黑单不想干的内容，这样的内容我们会处理掉的，这意味你提交这些是在白白浪费你宝贵的时间。

<p>
<b>黑单信息</b>
<p>
请不到给标题写的太随意，一般来说，如果是转发内容，标题应该填写转发内容的原标题或者修改后但意思相关的标题，再次注意请填写URL。
<p>
如果是分享自己的经历，那么标题一样不能与内容不符合，因为大家在浏览时是只能看到标题，点击标题后才能看到正文，若标题与内容不符合的话，很有可能会被投票掩埋。
<p>
因此标题很重要。
<p>
如果你想提问的话，标题最好带问号('❓')结尾，让人家看起来像是在提问，并且吸引有兴趣的人来回答。
从这里看来，提问和分享其实都是提交内容，没有什么区别，回答的内容会出现在评论里，这需要你时刻关注，因为暂时系统还没有通知功能，很抱歉。<p>
<p>
⚠️标题里注意不要包含链接信息。
<p>

那么说一下提交内容范围大概分为如下几种：
<br>
1. 转发关于使用体验吐槽的新闻或文章
<br>
2. 个人体验的经历
<br>
3. 拿不定主意时需要的提问
<br>
4. 等等等
<p>
比如使用某品牌手机、服务、超市、物件等等等涵盖生活中所有涉及到的不那么称心如意，让人不舒服甚至损害了个人利益的经历，都是分享到黑单的好内容。
<p>
比如看到上述类型中被新闻曝光或其他用户反馈的内容，也是分享到黑单的极佳素材。
<p>
虽然在这里提交完，我们不能找他们直接算账解决问题，但我们有权利把故事讲给大家听，让更多的人不要去上当。
<p>

关于URL，已经提及很多次如果是转发内容必须要填写URL，还有一点需要注意的，在URL里填写多条URL，虽然可以提交成功，但是肯定无法正确浏览。
<p>
反馈内容也不要提交在这里，若反馈可以点击底部'反馈'来写邮件，原谅我们还在使用电子邮件。
<p>

<b>评论</b>
<p>
请评论时文明用语，不要进行人身攻击或讽刺性言论，包括各种形式的嘲讽。
<p>
发言尽可能言简意骇，能一句话说明白的就不要多浪费一个字。比如“你是不是没仔细看文章，那文章就是这个意思”那么最好这样来“文章就是这意思”，比较简短明了。
<p>
这里禁止约架等各种约。
<p>
请不要发表与黑单内容无关的评论，如果没用过或者不感兴趣，可以围观但不要因为某人发言不爽而泄愤。
<p>
<br><br><br>
<table width=100% bgcolor=#ff6600 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>


<br><br>
</span>
</td></tr></table>
</center>
</body>

