{% extends "base.html" %}

{% block main_body %}     
     <!-- 记录开始-->
     <tr>
      <td>
       <table border="0" cellpadding="0" cellspacing="0" class="itemlist"> 
        <tbody>

        {% for ban in bans%}


         <tr class="athing"> 
          <td align="right" valign="top" class="title"><span class="rank"> - </span></td> 
          <td valign="top" class="votelinks">
           <center>
           {%if ban.get('voted')%}
                 <img src={{ url_for("static", filename="s.gif") }}  height="1" width="14">
          {%else%}
            <a id="up_{{ban.get('ban_id')}}" href="/vote/up/{{ban.get('ban_id')}}">
             <div class="votearrow" title="upvote"></div></a>
          {%endif%}
           </center></td>
          <td class="title">
          <span class="deadmark"></span>
            <a href="/ban/{{ ban.get('ban_id')}}">
          {{ ban.get('title')}}
          </a>

          {% if ban.get('url')%}
            <span class="sitebit comhead">(<a href="{{ ban.get('url')}}">
            <span class="sitestr">{{ban.get("site")}}</span></a>)
            </span>
          {%endif%}
          </td>
         </tr>
         <tr>
          <td colspan="2"></td>
          <td class="subtext pocket-inserted"> <span class="score" id="score_10617681">{{ban.get("points")}} points</span> by <a href="/user/{{ ban.get('author')}}">{{ ban.get('author')}}</a> <a href="/ban/{{ ban.get('ban_id')}}">{{ ban.get('created_at')}}前</a> | <a href="/ban/{{ ban.get('ban_id')}}">{{ ban.get('comments')}} comments</a> 

          {% if session['user'] == ban.get('author')%}
           | <a href="/edit/{{ ban.get('ban_id')}}">edit</a>
           | <a href="/delete-confirm/{{ ban.get('ban_id')}}?goto=newest">delete</a>
          {% endif %}

          </td>
         </tr>
         {% endfor %}

         <tr class="spacer" style="height:5px"></tr> 
         <tr class="morespace" style="height:10px"></tr>
         <tr><td colspan="2"></td><td class="title"><a href="/newest/{{page}}" rel="nofollow">More</a></td></tr>

        </tbody>
       </table>
       </td>
     </tr> 

    <!-- 记录结束-->
{% endblock main_body %}

 