<html>
<head>
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="yc.css") }} >
<title>黑单 安全性</title>
</head>

<body bgcolor=#ffffff>
<center>
<br><br>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>
<a href="http://heidan.xyz"><img src={{ url_for("static", filename="bn500.gif") }}  border=0 width=500></a>
<br><br>
<b>黑单的安全性</b>
<p>
如果你发现黑单的bug或者漏洞那么请联系我 <a href="mailto:security@heidan.xyz">security@banist.com</a>.我们会在最短时间修复，并且对你提供的线索表达最热烈的感谢。
</p>

<p>
下面是感谢列表，感谢那些发现漏洞，帮助我们完善的好心人，后续列表会不断更新:
</p>

<p>
<b>20151127: <a href="http://cn0poeye.com">cn0poeye</a></b>
<ul>
<li>由于参数引起url跳转死循环问题。</a></li>
</ul>
</p>

<br><br>
<br>
<b>不在列表中?</b>
<p>
如果你已提交有效bug或漏洞，并且在列表中没有出现你的信息，那么请一定要联系我们，我们将会非常感谢你并将你的信息添加到列表。
</p>

</td></tr></table>
</center>
</body>

