<html>
<head>
<link rel="stylesheet" type="text/css" href={{ url_for("static", filename="yc.css") }}>
<title>黑单: 初衷</title>
</head>

<body bgcolor=#ffffff>
<center>
<br><br>
<table width=500 cellpadding=0>
<tr><td bgcolor=#fafaf0>
<a href="http://heidan.com"><img src={{ url_for("static", filename="bn500.gif") }} border=0 width=500></a>
<br><br>
<b>Welcome to 黑单</b>
<br><br>
<p>
<a href="http://heidan.com">黑单</a>与其他网站和社区不同的地方是这里只聚集黑单信息，
如果你已了解什么是黑单，但是还不知道怎么使用的话，请移步这里<a
href="/guidelines">如何使用</a>。
<p>

所谓黑单信息，举个例子你就能明白：<br>
刚买的冰箱，门关不拢，不管是否已投诉厂家，都要把这个经历分享到
黑单上来，让大家都知道这个牌子的冰箱的问题，这就是典型黑单信息。
<p>

现在的产品评测大都被公关后例行的内容，内容价值较低，好的大夸特夸，不好的一笔带过，缺陷的隐瞒不说，除非是被曝光后才会大白天下。而大家更想听到的是这玩意儿到底怎么样？存在我担心的问题么？
<p>

这里没有专业人去研究发现各类产品和服务的缺陷，黑单可以做到将真实经历分享给大家，为后来者提供参考，总有些时候，事前你会纠结不定、左右为难、选择困难症发作以及各种疑虑并发，这个时候可以来这里寻求帮助。
 <p>

如果你一字不落的阅读到这里，那你肯定应该明白黑单是什么了吧？这里是品牌黑单内容的漩涡，收集并分享那些真实的故事。
<p>

在这里你可以：
<br>
1. 浏览黑单信息
<br>
2. 提交你想吐槽的使用经历
<br>
3. 提交其他来源的黑单信息到
<br>
4. 评论你感兴趣的黑单

<p>

当你提交内容时，你需要填写标题、URL和内容，如果是转发则必需要填写URL，若是个人经历非转发，则可以不用填写URL；若是填写URL，那么在浏览黑单时，点击黑单标题后面的网站地址，则会跳转到信息源站，将流量还给源站是道德的做法。
<p>
在提交时一定要注意内容质量，这里只接受真实使用经历和转发相关的信息，若是其他无关内容，虽不会删除，但是我们加入了投票功能，将会把无关内容沉入最底部，可能无法再见天日。

<p>

当你提交信息之后，因为各种原因需要修改的话，可以点击黑单标题附近的'eidt'或'编辑'进入修改界面。
修改后内容不允许全部为空，这点请注意。另外，暂时我们允许一直修改你所提交的内容，将来有可能会引入限时修改机制。
<p>
当然，你也可以删除你所提交的内容；同上，将来有可能引入限时删除机制。
<p>
关于评论，只能评论黑单，而不能评论某条评论，至少暂时是这样。评论的编辑和删除规则与黑单类似，这里就不再赘述。
<p>
终于说到了黑单的信息质量问题，这里引入了投票功能，对于每个黑单你都拥有投一票的权利，对于质量较低、无关内容、水帖等，希望大家积极行使投票权，将这些内容沉到深渊。
<p>
未来可以做什么？这对社会有帮助么？对于个人有帮助么？
对于这些问题，没有特别好的方式能完全解释清楚，但是我们的数据是开放的，但是各位提交个人信息是不会被第三方看到，包括品牌厂商。
将来可能会根据数据定期发布黑点统计，督促不努力的厂家或品牌商完善自己，让用户得到应该得到的质量和服务。

<br><br><br>
<table width=100% bgcolor=#ff6600 cellpadding=0><tr><td></td></tr></table>
<p align=center>
<span class=foot>


<br><br>
</span>
</td></tr></table>
</center>
</body>

